h1,h2{
    text-align: center;
}

#areaForPaint {
    border: 5px solid darkblue;
    height: 450px;
    background-color: darkgray  ;
    width: 500px;
    position: relative;
    left: 50%;
    margin: 0 -250px;
}
#tmp_canvas {
    position: absolute;
    left: 0px;
    right: 0;
    bottom: 0;
    top: 0;
    cursor: crosshair;
}

#text_tool {
    position: absolute;
    border: 1px dashed black;
    outline: 0;
    display: none;
    font-family: "Lucida Grande", sans-serif;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
}

#content{
    text-align: center;
}


.black, .white, .blue, .green, .yellow, .red, .purple {

    width: 20px;
    height: 20px;
}

.black {
    background-color: #000000;
}

.white {
    background-color: #FFFFFF;
}

.blue {
    background-color: #0000FF;
}

.green {
    background-color: #008000;
}

.yellow {
    background-color: #FFFF00;
}

.red {
    background-color: #FF0000;
}

.purple {
    background-color: #800080;
}
